* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: block;
    color: white;
    background-color: #3a1d43;
}

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.icon-box {
    /*background-color: aqua;*/
    margin-top: 40px;
    height: 35px;
}

@media (max-width:  767px) {
    .icon-box {
        margin-top: 20px;
        height: 70px;
    }
}

main {
    display: block;
}

.home {
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 0;
}

.home-logo {
    width: 60svh;
}

@media (max-width:  767px) {
    .home-logo {
        width: 30svh;
    }
}

.project {
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin-left: 50svw;
}

.card {
    height: 40svw;
    max-height: 70svh;
    min-height: 50svh;
    max-width: 60svw;
    background-color: rgb(19, 19, 22);
}

.card-img {
    box-sizing: border-box;
    height: 50%;
    width: 100%;
}

.img {
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    width: 100%;
    overflow: hidden;
}

.card-info {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.card-info-title {
    font-size: 4em;
    word-spacing: 100vh;
    text-transform: uppercase;
}

@media (max-width: 767px){
    .card {
        max-height: 70svh;
        min-height: 60svh;
        width: 65svh;
    }

    .card-info-title {
        font-size: 2.5em;
    }
}

@media (min-width: 1023px) {
    .card {
        width: 45svh;
    }
    .card-info-title {
        font-size: 3em;
    }
}

@media (min-width: 1600px) {
    .card-info-title {
        font-size: 4em;
    }
}

.info {
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.info-title {
    text-transform: uppercase;
    font-size: 10vw;
    line-height: .83em;
    white-space: nowrap;
}

.info-grid {
    display: grid;
    grid-template-rows: 50svh 30svh auto auto;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}

.info-box-pic {
    display: flex;
}

.info-box-text {
    font-size: 3vw;
    line-height: 1.1em;
}

.info-box-pic1 {
    grid-area: 1 / 1 / 4 / 4;
}

.info-box-pic2 {
    grid-area: 1 / 4 / 4 / 6;
}

.info-box-pic3 {
    grid-area: 1 / 6 / 2 / 9;
}

.info-box-pic4 {
    grid-area: 4 / 5 / 5 / 9;
}

.info-box-text1 {
    grid-area: 3 / 6 / 2 / 9;
}

.info-box-text2 {
    grid-area: 4 / 1 / 5 / 5;
}

@media (max-width: 767px) {
    .info-grid {
        grid-template-rows: 40svh 20svh 20svh auto;
    }
    .info-box-text {
        font-size: 5vw;
        line-height: 1.1em;
    }
    .info-box-pic1 {
        grid-area: 1 / 1 / 2 / 9;
    }
    .info-box-pic2 {
        grid-area: 2 / 1 / 4 / 5;
    }
    .info-box-pic3 {
        grid-area: 2 / 5 / 3 / 9;
    }
    .info-box-pic4 {
        grid-area: 4 / 5 / 5 / 9;
    }
    .info-box-text1 {
        grid-area: 3 / 5 / 4 / 9;
    }
    .info-box-text2 {
        grid-area: 4 / 1 / 5 / 5;
    }
}

.social {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.social-form {
    width: 100%;
    max-width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-title {
    text-transform: uppercase;
    font-size: 10em;
    line-height: .83em;
    white-space: nowrap;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .social-title {
        font-size: 15vw;
    }
}

.form {
    display: flex;
    max-width: 50vh;
    min-width: 335px;
    width: 100%;
}

@media (max-width: 767px) {
    .form {
        max-width: none;
    }
    
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

input {
    height: 80px;
    padding-left: 20px;
    border: 1px hsla(0, 0, 10, 100);
    border-style: solid;
    background-color: black;
    color: white;
}

button {
    height: 80px;
    text-transform: uppercase;
}

.button-txt {
    font-size: large;
}

.social-media {
    align-items: center;
    justify-self: flex-end;
    bottom: 20px;
    display: flex;
    position: absolute;
}

.social-media-icon {
    margin-left: 15px;
    width: 30;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.footer-content {
    align-items: flex-end;
    display: flex;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.footer-content-box {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    bottom: 0;
    position: relative;
    width: 100%;
}

@media (max-width:  767px) {
    .footer-content-box {
        display: flex;
        flex-direction: column;
    }
}

.footer-logo {
    margin-bottom: 10px;
    width: 60px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
}

.footer-legals {
    margin: 10px 0;
}